h1,
h4 {
  text-align: center;
}

.video-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.video-wrapper h4 {
  width: 300px;
  display: inline-block;
  position: relative;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#remote-video,
#local-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: inline-block;
  position: relative;
  border: 1px solid black;
}

.video-wrapper video {
  height: auto;
}
